<div class="example-container">
    <h4 class="card-header">Personal Information</h4>
    <form [formGroup]="personalInfo">
        <div class="example-form-fields">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" placeholder="Ex. Ram" formControlName="firstName" maxlength="5">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input matInput type="text" placeholder="Ex. Vinay" formControlName="middleName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" placeholder="Ex. Kumar" formControlName="lastName">
            </mat-form-field>
        </div>
        <div class="example-form-fields">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. abc@gmail.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dob">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"
                    aria-placeholder="Ex. 05/14/2000"></mat-datepicker-toggle>
                <mat-datepicker #picker>
                </mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                    <mat-option *ngFor="let g of gender" [value]="g">
                        {{g}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="example-form-fields">
            <mat-form-field appearance="outline">
                <mat-label>Highest Education</mat-label>
                <mat-select formControlName="highestEducation">
                    <mat-option *ngFor="let edu of highestEducation" [value]="edu">
                        {{edu}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Total Experience</mat-label>
                <input matInput type="number" placeholder="Ex. 18 Years" formControlName="totalExperience">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Relevant Experience</mat-label>
                <input matInput type="number" placeholder="Ex. 18 Years" formControlName="relevantExperience">
            </mat-form-field>
        </div>
        <div class="example-form-fields">
            <mat-form-field appearance="outline">
                <mat-label>Current Company</mat-label>
                <input matInput type="text" placeholder="Ex. Quantum" formControlName="currentCompany">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Current CTC</mat-label>
                <input matInput type="number" placeholder="Ex. 15" formControlName="currentCTC">
                <mat-hint>CTC in rupees</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Expected CTC</mat-label>
                <input matInput type="number" placeholder="Ex. 25" formControlName="expectedCTC">
                <mat-hint>CTC in rupees</mat-hint>
            </mat-form-field>
        </div>
        <div class="card-header">
            <button mat-raised-button type="button" color="warning">Cancel</button>
            <button mat-raised-button color="primary" type="submit"(click)="saveNext()">Save & Next</button>
        </div>
    </form>
</div>

<!-- <div class="container col-md-6 offset-md-3 mt-5">
    <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div class="card">
        <h4 class="card-header">Register</h4>
        <div class="card-body">
            <form [formGroup]="personalInfo">
                <div class="mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div>
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                        Register
                    </button>
                    <a routerLink="../login" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div> -->